[Application]
name=weights
version=1.0
# How to launch the app - this calls the 'main' function from the 'myapp' package:
entry_point=run:run
icon=static/icon.ico

[Python]
version=3.8.0

[Include]
# Packages from PyPI that your application requires, one per line
# These must have wheels on PyPI:
pypi_wheels =
     pyserial==3.5


packages=
    tkinter
    _tkinter
    run
    app
    config
    layout
    reader
    utils

files = lib
    ../config.ini
    static/ > $INSTDIR/pkgs